---
layout: base.njk
title: Not Found
permalink: "/404.html"
---
<main>
  <article id="post-0" class="post no-results not-found">
    <h1 class="entry-title">Not Found</h1>
    <div class="entry-content">
      <p>Apologies, but the page you requested could not be found. Perhaps searching will help.</p>
      {% include "searchform.njk" %}
    </div>
  </article>
</main>
