---
layout: base.njk
title: 検索
permalink: "/search/"
---
<main>
  <h1 class="page-title">検索</h1>
  <div class="linebreak clear"></div>
  <div class="entry-content">
    {% include "searchform.njk" %}
  </div>
</main>
